.container{
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    background-color: bisque;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    h2{
        color: rgb(220, 39, 7);
        text-align: center;
    }
    p{
        color: rgb(7, 112, 217);
        text-align: center;
    }
    h6{
        color: rgb(18, 58, 220);
        text-align: right;
        margin-left: 70%;
    }
}